<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 给类型起别名 -->
	<typeAliases>
		<package name="com.wjs.tianyue.mvc.pojo" />
	</typeAliases>
		<!-- 注册PageHelper插件 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect" value="mysql"/>
		</plugin>
	</plugins>
	<!-- 注册映射文件 -->
	<mappers>
		<package name="com.wjs.tianyue.mvc.mapper" />
	</mappers>
	
</configuration>
